<script>
    $(document).ready( function () {
        $('.order_table').DataTable();
        $(".dataTables_length").css("display", "none");
        $(".dataTables_filter").css("display", "none");
        $(".dataTables_paginate ").css("display", "none");
        $(".dataTables_info").css("display", "none");
        $("#order_table_length").css("display", "none");

        
    } );

</script>